<!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <i class="fa-solid fa-envelope"></i> Job Satisfaction Survey</a>
  </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <% if(title=="Surveys") { %>
              <a class="nav-link active" href="/surveyslist">
            <% } else {%>
              <a class="nav-link" href="/surveyslist">
            <% } %>  
            <i class="fa-solid fa-book"></i> Surveys</a>

          </li>
        </ul>
      </div>
    </div>
  </nav>