<%- include('../Partials/header'); -%>
<%- include('../Partials/main_nav'); -%>
<!-- Content for Add Page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Name</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter Your Name" name="Name" required>
                </div>
                <div class="form-group">
                    <label for="workoutTypeTextField">What type of workout did you complete today?</label>
                    <input type="text" class="form-control" id="workoutTypeTextField" placeholder="Enter the Workout Type" name="WorkoutType" required>
                </div>
                <div class="form-group">
                    <label for="exerciseDetailsTextArea">Which exercises did you perform, and how many sets/reps did you complete?</label>
                    <textarea type="text" class="form-control" id="exerciseDetailsTextArea"  placeholder="Enter Exercise Details" name="ExerciseDetails" required></textarea>
                </div>
                <div class="form-group">
                    <label for="durationTextField">How long was your workout session?</label>
                    <input type="text" class="form-control" id="durationTextField" placeholder="Enter Duration in minutes" name="Duration" required>
                </div>
                <div class="form-group">
                    <label for="performanceRatingTextField">How would you rate your performance today on a scale of 1 to 10?</label>
                    <input type="text" class="form-control" id="performanceRatingTextField" placeholder="Enter a number from 1-10" name="PerformanceRating" required>
                </div>
                <button class="btn btn-primary" type="submit">Submit
                <i class="fas fa-edit"></i></button>  
                <button class="btn btn-warning" type="submit">Cancel
                    <i class="fas fa-undo"></i></button>    
            </form>
        </div>
    </div>
</div>
<%- include('../Partials/footer'); -%>